body{
	background-color: black
}

.page{
	border: lightgrey;
	border-radius: 15%;
	background-color: whitesmoke;
	height: 100%;
}


h1{
		font-style: oblique;
		font-size: 60%;
		color: crimson;
		text-align: center;
		margin-top: 10%;
	}
	
	@media screen and (m-width: 900px){
			h1{
				font-size: 20%;
				color: crimson;
				text-align: center;
				margin-top: 10%;
			}
		}
	
	.newGame, .resetGame{
		text-align: center;
		margin: 1%;
		
	}
	
	.player{
		margin: auto;
		padding-bottom: 10px;
	}
	
	.butnGame{
		font-size: 20px;
		border-radius: 20%;
		background-color: lightgreen;
		
	}
	
	.reset{
		text-align: center;
		/*margin-top: 5px;*/
		font-size: 30%;
		border-radius: 20%;
		background-color: red;
	}
	
	.container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		padding: 20%;
		margin: auto;
	}
	
	.goButton{
		border: solid lightblue;
		border-radius: 70%
	}
	.result{
		height: 4em;
		width: 4em;
		color: lightgreen;
		opacity: 80%;
		text-align: center;
		border: solid black;
		border-radius: 90%;
		margin: auto;
	}
	
	.dice{
		text-align: center;
		margin-top: 20%;
	}
	img{
		width: 20%;
		
	}